* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background: #3b4664;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calc-box {
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  /* padding: 1rem; */
}
p {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1rem;
  letter-spacing: 0em;
  text-align: left;

  color: #ffffff;
}

.inputText {
  border-radius: 12px;
  padding: 2.25rem;
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color: #181f32;
  border: none;
  color: #ffffff;
  font-family: Segoe UI;
  font-size: 2.25rem;
  height: 2.5rem;
  text-align: right;
  font-weight: bolder;
  pointer-events: none;
}
.buttonBox {
  border-radius: 12px;
  background-color: #252d44;
  height: 70%;
  border: none;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  height: 85%;
  width: 85%;
}

.calc-btn {
  border-radius: 12px;
  font-family: Inter;
  font-size: 1.3rem;
  font-weight: bolder;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #3b4664;
  background: #eae3db;
  transition: 0.2s ease-in-out 0s;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#del-btn {
  background: #647299;
  color: #ffffff;
}

#reset-btn {
  background: #647299;
  color: #ffffff;
  grid-column: span 2;
}

#eql-btn {
  background: #d13f30;
  color: #ffffff;
  grid-column: span 2;
}
.inputText:focus {
  border: 1px solid #181f32;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  outline: none;
}

@media screen and (max-width : 415px) {
    .calc-box {
        height: 500px;
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        padding: 1rem;
      }
}
